# Certificados personales
# HTML Essentials
HTML Essentials/html-essentials.png
HTML Essentials/HTMLEssentialsv120260919-21-3quogk.pdf

# CSS Essentials

# Introducción a Cisco Packet Tracer
Introducción a Cisco Packet Tracer/Getting_Started_with_Cisco_Packet_Tracer_certificate_samuelmartinezalarcon06-gmail-com_91e8e040-5158-4e92-8dfe-39e6bea.pdf
